@page "/categories"
@page "/categories/create"
@using Client.Components
@using global::App.Read.Ports

<InputFile OnChange="ImportCategoriesFile" accept=".csv"></InputFile>
@if (uploadResult != null)
{
    <div>@uploadResult</div>
}

@if (isCreating)
{
    <EditForm Model="Category" OnSubmit="Create" FormName="CreateCategory">
        <div>
            <label>Label:
                <InputText @bind-Value="Category!.Label" @ref="labelElement" @onfocusout="@ExitCreateMode"></InputText>
            </label>
        </div>
        <button type="submit">Submit</button>
    </EditForm>
}
else
{
    <button class="btn btn-primary" @onclick="EnterCreateMode">Add new category</button>
}

@if (categories is { Length: > 0 })
{
    <button class="btn btn-primary" @onclick="ExportCategories">Export</button>

    <div class="row row-cols-4 g-4">
        @foreach (CategorySummaryPresentation category in categories)
        {
            <CategoryCard Category="category" OnCategoryDeleted="OnCategoryDeleted"></CategoryCard>
        }
    </div>
}