@page "/categories"
@page "/categories/create"
@using global::App.Read.Ports

@if (isCreating)
{
    <EditForm Model="Category" OnSubmit="Submit" FormName="CreateCategory">
        <div>
            <label>Label:
                <InputText @bind-Value="Category!.Label"></InputText>
            </label>
        </div>
        <div>
            <label>Keywords:
                <InputText @bind-Value="Category!.Keywords"></InputText>
            </label>
        </div>
        <button type="submit">Submit</button>
    </EditForm>
}
else
{
    <button class="btn btn-primary" @onclick="@ShowCategoryForm">Add new category</button>
}

@if (categories is { Length: > 0 })
{
    <button class="btn btn-primary" @onclick="@ExportCategories">Export</button>

    <ul class="list-group list-group-flush">
        @foreach (CategorySummaryPresentation category in categories)
        {
            <li class="list-group-item">
                @category.Label (@category.Keywords)
                <button class="btn btn-link" @onclick="() => Delete(category)">Delete</button>
            </li>
        }
    </ul>
}