@page "/"

@if (monthlyPerformance != null)
{
    if (monthlyPerformance!.Length != 0)
    {
        <div id="dashboard-chart"></div>
    }
    else
    {
        <div class="alert alert-light" role="alert">
            Nothing to see here for now. Kickstart things <a href="/data">here</a>
        </div>
    }
}