@page "/data"

<InputFile OnChange="UploadBankStatementFile" accept=".csv,.ofx" multiple></InputFile>
@if (uploadResult != null)
{
    <div>@uploadResult</div>
    if (isSuccessful == true)
    {
        <a href="/accounts">Check your accounts</a>
    }
}