@page "/accounts"
@using MoneyManager.Shared

<PageTitle>Accounts</PageTitle>

<h1>Accounts</h1>

<InputFile OnChange="UploadFile"></InputFile>
@if (uploadResult != null)
{
    <div>@uploadResult</div>
}

@if (accounts == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Label</th>
            <th>Balance</th>
        </tr>
        </thead>
        <tbody>
        @foreach (AccountSummary? account in accounts)
        {
            <tr>
                <td>@account.Id</td>
                <td>@account.Label</td>
                <td>@account.Balance</td>
            </tr>
        }
        </tbody>
    </table>
}