@page "/accounts/{id:guid}"

<h3>Account</h3>

@if (account == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else if (account.Transactions.Any())
{
    <table class="align-middle table table-hover table-sm">
        <thead class="table-light">
        <tr>
            <th>Label</th>
            <th>Amount</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        @foreach (TransactionSummary transaction in account.Transactions)
        {
            <tr>
                <td>@transaction.Label</td>
                <td class="text-end @(transaction.Amount > 0 ? "text-success" : "text-danger")">@(transaction.Amount)€</td>
                <td class="text-end">@transaction.Date.ToShortDateString()</td>
            </tr>
        }
        </tbody>
    </table>
}