@using global::App.Read.Ports

<div class="col">
    <div class="card">
        <h5 class="card-header d-flex justify-content-between align-items-center">@Category.Label
            <button class="btn btn-link" @onclick="Delete">Delete</button>
        </h5>
        @if (Category.Children.Any())
        {
            <ul class="list-group list-group-flush">
                @foreach (ChildCategorySummaryPresentation child in Category.Children)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center">@child.Label
                        <button class="btn btn-link" @onclick="() => DeleteChild(child.Id)">Delete</button>
                    </li>
                }
            </ul>
        }
        <h5 class="card-footer d-flex justify-content-between align-items-center mb-0">
            @if (isCreating)
            {
                <EditForm Model="Child" OnSubmit="CreateChild" FormName="CreateChildCategory">
                    <InputText @bind-Value="Child!.Label" @ref="childLabelElement" @onfocusout="@ExitCreateMode"></InputText>
                    <button type="submit">Submit</button>
                </EditForm>
            }
            else
            {
                <button class="btn btn-primary" @onclick="EnterCreateMode">Add new category</button>
            }
        </h5>
    </div>
</div>