@using global::App.Read.Ports
<div class="col">
    <div class="card">
        <h5 class="card-header d-flex justify-content-between align-items-center">
            @if (isEditing)
            {
                <input type="text" value="@Category.Label" @ref="labelElement" @onchange="LabelChanged" @onfocusout="ExitEditMode" class="form-control"
                       placeholder="Label"/>
            }
            else
            {
                <span>
                    <button type="button" class="btn btn-link ps-0 pe-1" @onclick="EnterCreateMode">
                        <small class="bi bi-folder-plus"></small>
                    </button>
                    <span @onclick="EnterEditMode">
                        @Category.Label
                    </span>
                </span>
                <button class="btn btn-link ps-1 pe-0" @onclick="Delete"><small class="bi bi-x-lg text-danger"></small></button>
            }
        </h5>
        @if (Category.Children.Any())
        {
            <ul class="list-group list-group-flush">
                @foreach (ChildCategorySummaryPresentation child in Category.Children)
                {
                    <CategoryCardChild Category="child" OnChildDeleted="OnChildDeleted"></CategoryCardChild>
                }
            </ul>
        }
        @if (isCreating)
        {
            <h5 class="card-footer d-flex justify-content-between align-items-center mb-0">
                <EditForm Model="Child" OnSubmit="CreateChild" FormName="CreateChildCategory">
                    <InputText @bind-Value="Child!.Label" @ref="childLabelElement" @onfocusout="ExitCreateMode" class="form-control"></InputText>
                </EditForm>
            </h5>
        }
    </div>
</div>