@if (Inflow != null)
{
    <h3 class="border-bottom">
        <small class="bi bi-graph-up-arrow text-success fs-5"></small>
        Entrées
    </h3>
    <TransactionsTable Transactions="@Inflow" OnPicked="OpenDetailsOf"></TransactionsTable>
}
@if (Outflow != null)
{
    <h3 class="border-bottom">
        <small class="bi bi-graph-down-arrow text-danger fs-5"></small>
        Sorties
    </h3>
    <TransactionsTable Transactions="@Outflow" OnPicked="OpenDetailsOf"></TransactionsTable>
}

<div class="offcanvas offcanvas-end" id="transactionDetails" data-bs-backdrop="static">
    <TransactionDetails OnPicked="OnCategoryPicked" OnClosed="OnDetailsClosed"></TransactionDetails>
</div>