@using global::App.Read.Ports
@if (categories != null)
{
    <ul class="dropdown-menu">
        @if (categories.Any())
        {
            @foreach (CategorySummaryPresentation category in categories)
            {
                <li>
                    <button type="button" class="dropdown-item"
                            @onclick="@(() => AssignCategory(category.Id))">@category.Label</button>
                </li>
            }

            <li class="dropdown-divider"></li>
        }
        <li>
            <button type="button" class="dropdown-item" @onclick="NavigateToCategoryCreation">Create a new category</button>
        </li>
    </ul>
}