@if (Inflow != null)
{
    <h3>Entrées</h3>
    <TransactionsTable Transactions="@Inflow"></TransactionsTable>
}
@if (Outflow != null)
{
    <h3>Sorties</h3>
    <TransactionsTable Transactions="@Outflow"></TransactionsTable>
}