<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Money Manager</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-bar-chart-fill" aria-hidden="true"></span>Dashboard
            </NavLink>
            <NavLink class="nav-link" href="/accounts">
                <span class="bi bi-file-ruled-fill" aria-hidden="true"></span>Accounts
            </NavLink>
            <NavLink class="nav-link" href="/budgets">
                <span class="bi bi-calculator-fill" aria-hidden="true"></span>Budgets
            </NavLink>
            <NavLink class="nav-link" href="/data">
                <span class="bi bi-file-earmark-arrow-up-fill" aria-hidden="true"></span>Synchronization
            </NavLink>
            <NavLink class="nav-link" href="/categories">
                <span class="bi bi-tag-fill" aria-hidden="true"></span>Categories
            </NavLink>
            <NavLink class="nav-link" href="/categorization-rules">
                <span class="bi bi-tag-fill" aria-hidden="true"></span>Categorization rules
            </NavLink>
            <NavLink class="nav-link" href="/categorization">
                <span class="bi bi-clipboard2-check-fill" aria-hidden="true"></span>Categorization
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu() =>
        collapseNavMenu = !collapseNavMenu;

}